@namespace WasmViewModelTest
@inherits ContextComponentBase
@code {
    [CascadingParameter]
    public CheckBoxViewModel CheckBoxViewModel
    {
        get => base.DataContext as CheckBoxViewModel;
        set => base.DataContext = value;
    }
    [Parameter]
    public string? Name { get; set; }
}
<div>
    Checkbox @Name: <input type="checkbox" @bind=CheckBoxViewModel.CheckBoxState></input>
</div>
