@inherits ContextComponentBase
@page "/"
@using global::WasmViewModelTest

@code{
    [Inject]
    public IndexPageViewModel IndexPageViewModel
    {
        get => base.DataContext as IndexPageViewModel;
        set => base.DataContext = value;
    }
}

<PageTitle>Index</PageTitle>

<h3>Calling StateHasChanged in CheckBoxComponent only</h3>
@{
    CheckBoxViewModel checkboxViewModelWithoutParentSet = new CheckBoxViewModel();
}
<CascadingValue Value=checkboxViewModelWithoutParentSet>
    <CheckboxComponent Name="1"></CheckboxComponent>
    <CheckboxComponent Name="2"></CheckboxComponent>
    <CheckboxComponent Name="3"></CheckboxComponent>
</CascadingValue>


<h3>Calling StateHasChanged of parent component works</h3>

<CascadingValue Value=IndexPageViewModel.CheckBoxViewModel>
    <CheckboxComponent Name="1"></CheckboxComponent>
    <CheckboxComponent Name="2"></CheckboxComponent>
    <CheckboxComponent Name="3"></CheckboxComponent>
</CascadingValue>






